body{
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  background-image: url("https://easyretro.io/blog/assets/images/ms-how-blur-bg-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}
.auth-form{
  width: 400px;
  padding: 10px;
  display: block;
  margin: 40px auto;
  border: 2px double #3099df;
  border-radius: 15px;
  background-color: whitesmoke;
}

.user-input{
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid black;
}
.w-100{
  width: 95%;
}
.user-input:focus,.user-input:active{
  outline: none;
}
.auth-heading{
  text-align: center;
  font-size:30px;
  color:white;
  margin-top: 100px;
}
.auth-btn{
  background-color:#3099df;
  padding: 8px 30px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}
.auth-btn:hover{
  background-color:#005791;
}
.auth-link{
  font-size: 30px;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}
.account-auth{
  color: #3099df
}
.terms-container{
  padding: 15px;
}
.text-primary{
  color: #6600ff; 
margin: 7px;
 
}


@media screen and (max-width: 550px){
  .auth-form{
    width: 90%;
    padding: 8px;
    margin: 30px auto;
    border: 4px double #6600ff;
  
  }
  .auth-link{
    font-size:25px;
   
  }
}