body{
  background-color: whitesmoke;
}

.user-input{
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #8533ff;
}
.user-input:focus,.user-input:active{
  outline: none;
}
.auth-heading{
  text-align: center;
  font-size:30px;
color:  #6600ff;
}
.auth-btn{
  background-color:#6600ff;
  padding: 8px 30px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 25px auto;
}