body{
  background-color: whitesmoke;
}
.auth-form{
  width: 400px;
  padding: 10px;
  display: block;
  margin: 40px auto;
  border: 2px double #6600ff;
  border-radius: 15px;
  background-color: #ccb4f0;
}

.user-input{
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #8533ff;
}
.user-input:focus,.user-input:active{
  outline: none;
}
.auth-heading{
  text-align: center;
  font-size:30px;
color:  #6600ff;
}
.auth-btn{
  background-color:#6600ff;
  padding: 8px 30px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}
.auth-btn:hover{
  background-color:#290958;
}
.auth-link{
  font-size: 30px;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
}