.transaction_card{
    border: 1px solid gray;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 10px  gray;
    position: relative;
}
.transaction-card-title{
    margin: 0;
    font-size: 30px;

}
.transaction-card-amount{
    font-size: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.transaction-cart-time{
    font-size: 18px;
  
}
.transaction-card-category{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    background-color: #6600ff;
    color: white;
    padding: 4px 15px;
    border-radius: 20px;
}