.transaction_card{
    border: 1px solid gray;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    box-shadow: 0 0 10px  gray;
    position: relative;
    cursor: pointer;
}
.transaction-card-title{
    margin: 0;
    font-size: 25px;
    margin-bottom: 5px;

}
.transaction-card-amount{
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 0;
}
.transaction-cart-time{
    font-size: 16px;
   
  
}
.transaction-card-category{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 16px;
    background-color: #6600ff;
    color: white;
    padding: 4px 15px;
    border-radius: 20px;
    
}
.deleteBtn{
    background-color: black;
    padding: 3px 8px;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    bottom: 5px;
    cursor: pointer;
}