.conditions{
    font-size: 22px;
    margin-left: 30px;
    display: block;
    margin: 15px;
  }
  .heading{
    margin-left: 20px;
  }

  @media  screen and (max-width:550px) {
    .conditions{
        font-size: 18px;
        margin-left: 20px;
        display: block;
        margin: 1px;
      }

    
  }
 