.main-heading{
    font-size:30px;
    text-align: center;
    margin-top:100px;
    display: block;
    font-weight: bold;
}


.home-greeting{
    color: #6600ff;
    text-align: center;
   margin-top:5px;
   font-size: 30px;
   display: block;
}

.net-transactions-card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    width: 70%;
   
}
.net-transactions-card-item{
    width: 200px;
    border: 4px double #6600ff;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
   
}
.net-transaction-cart-amout{
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.net-transaction-card-title{
    font-size: 22px;
    display: block;
    text-align: center;
   
}
.add-transaction-icon{
    height: 50px;
    width: 50px;
    border: 3px double #6600ff;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 10%;
    bottom: 20px;
    cursor: pointer;
}
.add-transaction-icon:hover{
    transition: 0.5s;
    background-color:#ddcef3 ;
    transform: scale(1.2);
}
.transaction-card-container{
    max-height: 300px;
    overflow-y: scroll;
}

@media screen and (min-width: 993px) and (max-width: 1400px){
    .net-transactions-card-container{
     
        margin: 10px auto;
        width: 90%;
       
    }
    .net-transactions-card-item{
        width: 160px;
        padding: 8px;
    }
    .net-transaction-cart-amout{
        font-size: 26px;
    }
    .transaction-card-container{
        max-height: 250px;
        overflow-y: scroll;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .main-heading{
        font-size:27px;
    }
    .home-greeting{
       
       font-size: 25px;
    }
    .net-transactions-card-container{
        width: 80%;
       
    }
    .net-transactions-card-item{
        width: 150px;
       
    }

    .net-transaction-cart-amout{
      
        font-size: 25px;
    }
    .net-transaction-card-title{
        font-size: 20px;
    
    }
    .add-transaction-icon{
        height: 40px;
        width: 40px;
        right: 10%;
        bottom: 40px;
       
    }
}

@media screen and (min-width: 550px) and (max-width: 768px){
    .main-heading{
        font-size:25px;
    }
    .home-greeting{
       
        font-size: 24px;
     }
     .net-transactions-card-container{
        width: 90%;
       
    }
    .net-transactions-card-item{
        width: 140px;
        padding: 7px;
        margin: 7px;
       
    }
    .net-transaction-cart-amout{
      
        font-size: 23px;
    }
    .net-transaction-card-title{
        font-size: 18px;
    
    }
    .add-transaction-icon{
        height: 35px;
        width: 35px;
        right: 30px;
        bottom: 60px;
       
    }
}
@media screen and (max-width: 550px){
    .main-heading{
        font-size:22px;
        margin-top: 70px;
    }
    .home-greeting{
       
        font-size: 22px;
     }
     .net-transactions-card-container{
        width: 90%;
       
    }
    .net-transactions-card-item{
        width: 130px;
        padding: 5px;
       
    }
    .net-transaction-cart-amout{
      
        font-size: 22px;
    }
   
    .add-transaction-icon{
        height: 35px;
        width: 35px;
        right: 20px;
        bottom: 60px;
       
    }

}
