.main-heading{
    font-size:35px;
    text-align: center;
    margin: 0;
}


.home-greeting{
    color: #6600ff;
    text-align: center;
   margin: 0;
}
.logout-btn{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background-color: #6600ff;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.net-transactions-card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    width: 70%;
   
}
.net-transactions-card-item{
    width: 200px;
    border: 4px double #6600ff;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
   

}
.net-transaction-cart-amout{
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.net-transaction-card-title{
    font-size: 22px;
    display: block;
    text-align: center;
   
}
.transaction-card-container{
    max-height: 400px;
    overflow-y: scroll;
}