.review-heading{
    text-align: center;
    font-size:30px;
    color:  white;
    margin-top: 100px;
}
.review-box{
    height: 200px;
    width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
}

.review-btn{
    background-color:#3099df;
  padding: 8px 30px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}
.review-btn:hover{
  background-color:#005791;
}
.review-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

@media screen and (max-width: 550px){

  .review-heading{
   
    font-size:25px;
   
   
}
  .review-box{
    height: 130px;
    width: 90%;
    font-size: 18px;
   
}
.review-btn{
padding: 5px 20px;
font-size: 17px;
margin: 25px auto;

}

}

